# {{ ansible_managed }}

global_defs {
    max_auto_priority {{ keepalived_max_auto_priority }}
{% if keepalived_router_id is defined %}
    router_id {{ keepalived_router_id }}
{% endif %}
{% if keepalived_vrrp_version is defined %}
    vrrp_version {{ keepalived_vrrp_version }}
{% endif %}
{% if keepalived_checkscript_enabled | bool %}
    enable_script_security
    script_user {{ keepalived_checkscript_user }} {{ keepalived_checkscript_group }}
{% endif %}
{% if keepalived_vrrp_startup_delay is defined %}
    vrrp_startup_delay {{ keepalived_vrrp_startup_delay }}
{% endif %}
{% if keepalived_vrrp_strict | bool %}
    vrrp_strict
{% endif %}
}

{% if keepalived_checkscript_enabled | bool %}
{% for script in keepalived_checkscript_scripts %}
vrrp_script {{ script.name }} {
{% if script.command is defined %}
    script      "{{ script.command }} {{ script.exec | default('') }}"
{% else %}
    script      "{{ keepalived_checkscript_path }}/{{ script.filename }} {{ script.exec | default('') }}"
{% endif %}
    interval    {{ script.interval }}
    fall        {{ script.fall }}
    rise        {{ script.rise }}
    timeout     {{ script.timeout }}
    weight      {{ script.weight }}
}
{% endfor %}
{% endif %}

{% for vrrp in keepalived_vrrp %}
vrrp_instance {{ vrrp.name }} {
{% if vrrp.state is defined %}
    state                       {{ vrrp.state }}
{% endif %}
    interface                   {{ vrrp.interface }}
    priority                    {{ vrrp.priority }}
    virtual_router_id           {{ vrrp.virtual_router_id }}
    advert_int                  {{ vrrp.advert_int }}
    accept
{% if keepalived_vrrp_version != 3 and vrrp.authentication is defined %}
    authentication {
        auth_type {{ vrrp.authentication.type | upper }}
        auth_pass {{ vrrp.authentication.pass }}
    }
{% endif %}
{% if vrrp.garp is defined %}
    garp_master_refresh         {{ vrrp.garp.master_refresh }}
    garp_master_refresh_repeat  {{ vrrp.garp.master_refresh_repeat }}
{% endif %}
{% if keepalived_unicast_mode | bool and vrrp.unicast_src_ip is defined and vrrp.unicast_peer is defined and vrrp.unicast_peer | length > 0 %}
    unicast_src_ip              {{ vrrp.unicast_src_ip | ansible.utils.ipaddr }}
    unicast_peer {
{% for peerip in vrrp.unicast_peer | sort %}
        {{ peerip | ansible.utils.ipaddr }}
{% endfor %}
    }
{% endif %}

    virtual_ipaddress {
{% for vip in vrrp.vip %}
        {{ vip | ansible.utils.ipaddr }}
{% endfor %}
    }

{% if keepalived_checkscript_enabled | bool and vrrp.checkscript is defined and vrrp.checkscript | length > 0 %}
    track_script {
{% for script in vrrp.checkscript %}
        {{ script }}
{% endfor %}
    }
{% endif %}
}
{% endfor %}